<div class="chat-container container">
  <div class="row">
    <div class="col-sm-4 bg-dark segment pt-3">
      <p class="text-light">ACTIVE USERS</p>
      <ul class="list-group" id="active-users">
      </ul>
    </div>

    <div class="col-sm-8 segment align-self-end">
      <div class="row segment">
        <div class="col-xs-12 col-sm-12 align-self-end">
          <div id="group-chat">
            <ul class="messages" id="gc">
            </ul>
          </div>
          <div class="align-self-end">
            <input type="hidden" id="user" value="{{user}}">
            <input type="text" class="form-control" placeholder="Enter your message" id="msg">
          </div>

        </div>

      </div>


    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
</div>