
<div style="width:400px; margin-right:auto; margin-left:auto; border:1px;">
    <form>
       <div class="form-group">
	       <label for="Username">Username</label>
		    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Username">
		    <small id="usernameHelp" class="form-text text-muted">Username Should be Unique</small>
		    <br><br>
		    <button type="button" class="btn btn-default" id = "start">Start Chatting!</button>
  </div>
       </div>
    </form>
</div>


	   <script type="text/javascript" src="/js/user.js"></script>