.home-page-container {
  width:400px;
   margin-right:auto; 
   margin-left:auto; 
   border:1px;
   height: 90vh;
}

.chat-container {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 90vh;
}

.chat-segment {
  height: 80vh;
  overflow-y: scroll;
}

.message-box {
  margin-top: 0.75em;
}

.entry-info {
  font-size: 0.85em;
}

.messages {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.user-list-item {
  padding: .25rem .75rem;
}
