.fixed-size {
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}


.messages {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
.fixed-size {
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}


.messages {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
