.home-page-container {
  width:400px;
   margin-right:auto; 
   margin-left:auto; 
   border:1px;
   min-height: 90vh;
}

.chat-container {
  margin-top: 2em;
  margin-bottom: 2em;
  min-height: 90vh;
}

.segment {
  min-height: 90vh;
}

.messages {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
